<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :certification %>
    <%= f.input :phone_number %>
    <%= f.input :active %>
    <%= f.input :qualifications %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
