<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @credential.user %>
</p>

<p>
  <strong>Credentials:</strong>
  <%= @credential.credentials %>
</p>

<p>
  <strong>Certifications:</strong>
  <%= @credential.certifications %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
